<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Visivel?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="card in typeSpents">
        <td>
            <input ng-model="card.done" ng-change="vm.toggleDone(card)" type="checkbox">
        </td>
        <td>
            <div><strong>{{ card.name }} </strong></div>

        </td>
        <td>
            <div>{{ card.visible ? 'Yes' : 'No' }}</div>
        </td>

        <td>
            <button ng-click="vm.sendTextMessage(card)" class="btn btn-success">Send SMS</button>
            <button ng-click="vm.removeParty(card)" class="btn btn-danger">Remove</button>
        </td>
    </tr>
</table>
